<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="p-0 m-0 h-screen">
    <div>
        <header class="h-24 content-center bg-[#0B4619] p-8">
            <div class="font-extrabold">
                <span class="m-8 bg-clip-text text-transparent text-5xl bg-gradient-to-r from-pink-500 to-violet-500">
                    QUIZZELA
                </span>
            </div>
        </header>
    </div>
    <div class="flex flex-row h-screen">
        <div class=" text-2xl text-white flex flex-col basis-1/4 bg-[#116530] h-screen p-5 justify-between">
            <div class="flex flex-col">
                <div>
                    <span class="text-gray-300 font-medium text-2xl">Question Paper Name:</span>
                </div>
                <div class="mb-5">
                    <span><%= qpdata.name %></span>
                </div>
                <div>
                    <span class="text-gray-300 font-medium text-2xl">Description:</span>
                </div>
                <div class="mb-5">
                    <span><%= qpdata.description %></span>
                </div>
                <div>
                    <span class="text-gray-300 font-medium text-2xl">Total time till now:</span>
                </div>
                <div class="mb-5">
                    <span><%= totalTime %></span>
                </div>
                <div>
                    <span class="text-gray-300 font-medium text-2xl">Maximum marks till now:</span>
                </div>
                <div class="mb-5">
                    <span><%= totalMarks %></span>
                </div>
            </div>
            <div class="p-2 m-1 rounded-md bg-slate-200 text-slate-800 w-full text-xl">
                <span class="underline font-semibold">TEST LINK: </span>
                <div id="testLink"></div>
            </div>
        </div> 
        <!-- CSS done till here -->
        <div class="flex flex-col basis-3/4 bg-[#D3E4CD] overflow-scroll items-center">
            <div class="w-5/6 flex flex-col items-center ">
                <div class="border-2 border-[#146356] rounded-xl h-max p-5 m-8 w-max ">
                    <% if(update){ %>
                        <div class="flex space-x-4">
                        <form action="/updatequestion" method="post" >
                            <div class="mb-4 hidden grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Qpname</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600"  type="text" name="qpname" value="<%= qpdata.name %>"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Question Name</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" type="text" name="qname" value="<%= uqdata.qname %>"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold resize-none">Question</label><textarea name="question" id="" cols="70" rows="2" class="rounded-md resize-none w-80 bg-[#C1DEAE] border-solid border-2 border-lime-600"><%= uqdata.question %></textarea><br>
                            </div>
                            <div class="mb-4  grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Type of question</label>
                                <select name="type" id="" class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600">
                                    <option value="<%= uqdata.type %>" selected disabled hidden><%= uqdata.type %></option>
                                    <option value="MCQ">MCQ</option>
                                    <option value="Descriptive">Descriptive</option>
                                </select><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Upload Image(if any)</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" name="image" type="file"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Marks:</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" name="marks" type="number" value="<%= uqdata.marks %>"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Time</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" name="qtime" type="number" value="<%= uqdata.qtime %>"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Correct Option</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" value="<%= uqdata.answer %>" name="answer" type="text">
                                <!-- <label for="">Solution</label><input name="answer" type="text" name="" id=""><br> -->
                            </div>
                            <div class="flex justify-center">
                            <button class="text-white ring-2 ring-[#9A86A4] rounded-lg h-10 w-40 transition ease-in-out delay-150 bg-[#7D1E6A] hover:-translate-y-1 hover:scale-110 hover:bg-[#46244C] duration-300"" type="submit">Update Question</button>
                            </div>
                        </form>
                    </div>
                    <% }else{ %>
                        <div class="flex space-x-4">
                        <form action="/addquestion" method="post">
                            <div class="mb-4 hidden grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Qpname</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" type="text" name="qpname" value="<%= qpdata.name %>"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Question Name</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" type="text" name="qname"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Question</label><textarea name="question" id="" cols="70" rows="2" class="resize-none w-80 rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600"></textarea><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Type of question</label>
                                <select name="type" id="" class=" rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600">
                                    <option value="MCQ">MCQ</option>
                                    <option value="Descriptive">Descriptive</option>
                                </select><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Upload Image(if any)</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" name="image" type="file"><br>
                            </div>
                            <div class="mb-4 grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Marks:</label><input  class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" name="marks" type="number"><br>
                            </div>
                            <div class="mb-4  grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Time</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" name="qtime" type="number"><br>
                            </div>
                            <div class="mb-4  grid grid-cols-2 gap-2">
                                <label for="" class="text-[#064635] font-semibold">Correct Option</label><input class="rounded-md bg-[#C1DEAE] border-solid border-2 border-lime-600" name="answer" type="text">
                                <!-- <label for="">Solution</label><input name="answer" type="text" name="" id=""><br> -->
                            </div>
                            <div class="flex justify-center">
                            <button class=" text-white ring-2 ring-[#9A86A4] rounded-lg h-10 w-40 transition ease-in-out delay-150 bg-[#7D1E6A] hover:-translate-y-1 hover:scale-110 hover:bg-[#46244C] duration-300" type="submit">Add Question</button>
                            </div>
                        </form>
                    </div>
                    <% } %>
                </div>
            </div>
            <% qdata.forEach(function(ques){ %>
                <div class="w-1/2 justify-center grid grid-cols-3 border-2 border-[#146356] rounded-xl h-max p-5 m-8 w-max mt-2 mb-2">
                    <div class="col-span-1 text-[#064635] font-semibold">Question Name</div><div class="col-span-2"><%= ques.qname %></div>
                    <div class="col-span-1 text-[#064635] font-semibold">Question</div><div class="col-span-2"><%= ques.question %></div>
                    <div class="flex justify-center"><button class="ring-2 ring-[#95CD41] rounded-md bg-green-600 hover:-translate-y-1 hover:scale-110 hover:bg-[#116530] duration-300 p-2 m-2 text-white w-20 " onclick="window.location = ('/qp/'+ `<%= qpdata.name %>`+ '/' + `<%= ques.qname %>`+'/edit') ;">Edit</button>
                        <button class="ring-2 ring-[#FF1700] rounded-md bg-red-600  hover:-translate-y-1 hover:scale-110 hover:bg-[#B33030] duration-300 p-2 m-2 text-white w-20" onclick="window.location = ('/qp/'+ `<%= qpdata.name %>`+ '/' + `<%= ques.qname %>`+'/delete') ;">Delete</button>
                    </div>
                </div>

            <% }) %>
        </div>
    </div>
    <script>
        console.log(window.location.host);
        const Host = window.location.host + '/test/' + `<%= qpdata.name %>`;
        const link = document.getElementById('testLink');
        link.innerHTML = Host;
    </script>
</body>
</html>