<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="p-0 m-0 h-screen">
    <div class="flex flex-row h-screen">
        <div class="flex flex-col basis-1/4 bg-orange-600 h-screen p-5 justify-between">
            <div class="flex flex-col">
                <div>
                    <span class="text-slate-200 font-medium text-2xl">Question Paper Name:</span>
                </div>
                <div class="mb-5">
                    <span><%= qpdata.name %></span>
                </div>
                <div>
                    <span class="text-slate-200 font-medium text-2xl">Description:</span>
                </div>
                <div class="mb-5">
                    <span><%= qpdata.description %></span>
                </div>
                <div>
                    <span class="text-slate-200 font-medium text-2xl">Total time till now:</span>
                </div>
                <div class="mb-5">
                    <span><%= totalTime %></span>
                </div>
                <div>
                    <span class="text-slate-200 font-medium text-2xl">Maximum marks till now:</span>
                </div>
                <div class="mb-5">
                    <span><%= totalMarks %></span>
                </div>
            </div>
            <div>
                <div id="testLink" class="p-2 m-1 rounded-md bg-slate-200 text-slate-800 w-full"></div>
            </div>
        </div>
        <div class="flex flex-col basis-3/4 bg-slate-200 overflow-scroll items-center">
            <div class="w-5/6 flex flex-col items-center">
                <div class="border-2 border-black rounded-md h-max p-5">
                    <% if(update){ %>
                        <form action="/updatequestion" method="post">
                            <div class="mb-4 hidden">
                                <label for="">Qpname</label><input type="text" name="qpname" value="<%= qpdata.name %>"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Question Name</label><input type="text" name="qname" value="<%= uqdata.qname %>"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Question</label><textarea name="question" id="" cols="70" rows="2"><%= uqdata.question %></textarea><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Type of question</label>
                                <select name="type" id="">
                                    <option value="<%= uqdata.type %>" selected disabled hidden><%= uqdata.type %></option>
                                    <option value="MCQ">MCQ</option>
                                    <option value="Descriptive">Descriptive</option>
                                </select><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Upload Image(if any)</label><input name="image" type="file"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Marks:</label><input name="marks" type="number" value="<%= uqdata.marks %>"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Time</label><input name="qtime" type="number" value="<%= uqdata.qtime %>"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Correct Option</label><input value="<%= uqdata.answer %>" name="answer" type="text">
                                <!-- <label for="">Solution</label><input name="answer" type="text" name="" id=""><br> -->
                            </div>
                            <button class="bg-orange-600 text-white rounded-md p-2" type="submit">Update Question</button>
                        </form>
                    <% }else{ %>
                        <form action="/addquestion" method="post">
                            <div class="mb-4 hidden">
                                <label for="">Qpname</label><input type="text" name="qpname" value="<%= qpdata.name %>"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Question Name</label><input type="text" name="qname"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Question</label><textarea name="question" id="" cols="70" rows="2"></textarea><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Type of question</label>
                                <select name="type" id="">
                                    <option value="MCQ">MCQ</option>
                                    <option value="Descriptive">Descriptive</option>
                                </select><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Upload Image(if any)</label><input name="image" type="file"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Marks:</label><input name="marks" type="number"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Time</label><input name="qtime" type="number"><br>
                            </div>
                            <div class="mb-4">
                                <label for="">Correct Option</label><input name="answer" type="text">
                                <!-- <label for="">Solution</label><input name="answer" type="text" name="" id=""><br> -->
                            </div>
                            <button class="bg-orange-600 text-white rounded-md p-2" type="submit">Add Question</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <% qdata.forEach(function(ques){ %>
                <div class="w-1/2 justify-center grid grid-cols-3 border-2 rounded-md border-black mt-2 mb-2">
                    <div class="col-span-1">Question Name</div><div class="col-span-2"><%= ques.qname %></div>
                    <div class="col-span-1">Question</div><div class="col-span-2"><%= ques.question %></div>
                    <div><button class="rounded-md bg-green-600 p-2 m-2 text-white" onclick="window.location = ('/qp/'+ `<%= qpdata.name %>`+ '/' + `<%= ques.qname %>`+'/edit') ;">Edit</button>
                        <button class="rounded-md bg-red-600 p-2 m-2 text-white" onclick="window.location = ('/qp/'+ `<%= qpdata.name %>`+ '/' + `<%= ques.qname %>`+'/delete') ;">Delete</button>
                    </div>
                </div>

            <% }) %>
        </div>
    </div>
    <script>
        console.log(window.location.host);
        const Host = window.location.host + '/test/' + `<%= qpdata.name %>`;
        const link = document.getElementById('testLink');
        link.innerHTML = Host;
    </script>
</body>
</html>