<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="\favicon-32x32.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Question Papers</title>
</head>
<body class="bg-[#116530]">
    <div>
        <header class="h-24 content-center bg-[#0B4619] p-8">
            <div>
                <span class=" font-extrabold m-8 bg-clip-text text-transparent text-5xl bg-gradient-to-r from-pink-500 to-violet-500">
                    QUIZZELA
                </span>
            </div>
            <div class="flex justify-end -mt-9">
                <button class="font-bold text-white ring-2 ring-[#9A86A4] rounded-lg h-10 w-40 transition ease-in-out delay-150 bg-[#7D1E6A] hover:-translate-y-1 hover:scale-110 hover:bg-[#46244C] duration-300" onclick="window.location = '/qpcreate'">Add question paper</button>
            </div>
        </header>
    </div>
    <div class="m-9 grid grid-cols-1 gap-2 ">
    <% qps.forEach(function(qp){ %>
            <div class="bg-[#D3E4CD] w-11/12 justify-center grid grid-cols-3 border-2 border-[#146356] rounded-xl h-max p-5 m-8 mt-2 mb-2">
                <div class="col-span-1 text-[#064635] font-semibold">Name:</div><div class="col-span-2"><%= qp.name %></div>
                <div class="col-span-1 text-[#064635] font-semibold">Time:</div><div class="col-span-2"> <%= qp.totaltime %></div>
                <div class="col-span-1 text-[#064635] font-semibold">Description:</div><div class="col-span-2"> <%= qp.description %></div>
                <div class="flex justify-center">                    
                    <button class="ring-2 ring-[#95CD41] rounded-md bg-green-600 hover:-translate-y-1 hover:scale-110 hover:bg-[#116530] duration-300 p-2 m-2 text-white w-20" onclick="window.location = '/edit/'+ `<%=qp._id%>` ;">Edit Q/P info</button>
                    <button class="ring-2 ring-[#95CD41] rounded-md bg-green-600 hover:-translate-y-1 hover:scale-110 hover:bg-[#116530] duration-300 p-2 m-2 text-white w-20" onclick="window.location = '/qp/'+`<%= qp.name %>` ;">Edit</button>
                    <button class="ring-2 ring-[#FF1700] rounded-md bg-red-600  hover:-translate-y-1 hover:scale-110 hover:bg-[#B33030] duration-300 p-2 m-2 text-white w-20" onclick="window.location = '/delete/'+ `<%=qp._id%>` ;">Delete</button>
                </div>
            </div><br>
            
            <!-- <div class="grid grid-cols-2 gap-2">
                Name: <%= qp.name %>
            </div>
            <div class="grid grid-cols-2 gap-2">
                Time:  <%= qp.totaltime %>
            </div>
            <div class="grid grid-cols-2 gap-2">
                Description: <%= qp.description %>
            </div>
            <button onclick="window.location = '/edit/'+ `<%=qp._id%>` ;">Edit qp info</button>
            <button onclick="window.location = '/qp/'+`<%= qp.name %>` ;">Edit</button>
            <button onclick="window.location = '/delete/'+ `<%=qp._id%>` ;">Delete</button>
        </div><br> -->
    <% }) %>
</div>
</body>
</html>